/* BasicInformationPage.css */
.radio {
    appearance: none;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 2px solid #4299e1;
    outline: none;
    transition: background-color 0.3s;
  
    &:checked {
      background-color: #4299e1;
    }
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  